[mysqld]
character-set-server=utf8mb4
slow_query_log = 1
long_query_time = 5
slow_query_log_file = /var/log/mysql/mysql-slow.log
general_log
general_log_file=/var/log/mysql/general.log
[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
